* {
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 144, 160);
}

h4 {
  text-align: center;
  font-size: 8rem;
  margin-bottom: -3rem;
}

p {
  font-size: 2rem;
  text-align: center;
  color: white;
}   

#image-container {
  display: flex;
  justify-content: center;
}


a {
  color: white;
  text-decoration: none;
}

a:hover p {
  color: black;
}
